.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: whitesmoke;
  padding-right: 20px;
  /* justify-content: space-between; */
}
.container_second_component {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  align-items: center;
  color: whitesmoke;
  padding-right: 20px;
  background-color: bisque;
  height: 500px;
  /* justify-content: space-between; */
}
.product_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: blue;
  padding-right: 20px;
  background-color: bisque;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.product_list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  width: 700px;
  -webkit-overflow-scrolling: touch; /* Enable touch scrolling on iOS Safari */
}

.text {
  color: brown;
  padding-left: 20px;
}

.swiper {
  width: 500px;
  height: 500px;
  background-color: blue;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Change the color here */
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue; /* Adjusting the text color so it is visible against the blue background */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
